body{
	padding-left: 30px;
	padding-top: 20px;
	line-height: 35px;
}
#code{
	border: 2px solid black;
	padding: 10px;
	width: 450px;
	line-height: 20px;
}
#table{
	position: absolute;
	left: 600px;
	margin-bottom: 30px;
}
#table, tr, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	line-height: 20px;
}
input[type=number]{
	width: 35px;
}
input[type=number]::-webkit-inner-spin-button{  
	opacity: 1;
}