body{
	font-family: 'MedievalSharp', serif;
	text-align: center;
	background-color: #f9f9d0;
	overflow: auto;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
}
.box{
	position: relative;
	width: 445px;
	border: 5px solid #886622;
	background-color: #fef9b4;
	padding: 5px;
	padding-top: 5px;
	margin: 0px;
	margin-bottom: 25px;
	height: 60px;
	text-align: left;
}
.img{
	width: 50px;
	height: 50px;
	border: 5px solid #886622;
	background-color: #eecc77;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
}
.para, .date, .points{
	padding: 0px;
	margin: 0px;
	margin-left: 70px;
	font-size: 18px;
}
.date{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 12px;
}
.points{
	position: absolute;
	font-size: 50px;
	right: 10px;
	top: 10px;
}
.flashcardlist{
	position: absolute;
    list-style: none;
    padding: 0px;
	margin: 0px;
	width: 465px;
}
#space0, #space1, #space2, #space3, #space4{
	display: inline-block;
}
#filters{
	position: absolute;
	background-color: #fef9b4;
	border: 5px solid #886622;
	top: 25px;
	font-size: 25px;
}
#searchBar{
	height: 30px;
	font-size: 25px;
	font-family: 'MedievalSharp', serif;
	text-indent: 5px;
}
#category, #area, #event, #obtained{
	height: 30px;
	font-size: 20px;
	font-family: 'MedievalSharp', serif;
}
#progress{
	border: 1px solid black;
	position: absolute;
	height: 35px;
}
#innerProgress{
	height: 36px;
	background-image: linear-gradient(to right, green, green, limegreen, green);
	position: absolute;
	top: -0.5px;
	left: -0.5px;
}
#progressText{
	z-index: 1;
	position: absolute;
	font-size: 25px;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}
input[type=number]{
	height: 25px;
	font-size: 20px;
	font-family: 'MedievalSharp', serif;
	text-indent: 5px;
	width: 55px;
}
input[type=number]::-webkit-inner-spin-button{  
	opacity: 1;
}