@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body{
	font-family: 'MedievalSharp', serif;
	text-align: center;
	background-color: #f9f9d0;
	overflow: auto;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
}
.box{
	width: 200px;
	border: 5px solid #886622;
	background-color: #fef9b4;
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 25px;
	margin: 0px;
	margin-bottom: 25px;
}
.para{
	padding: 0px;
	margin: 0px;
}
.img{
	margin: 20px;
}
.flashcardlist{
	position: absolute;
    list-style: none;
    padding: 0px;
	margin: 0px;
	width: 220px;
}
#space0, #space1, #space2{
	display: inline-block;
}
#filters{
	position: absolute;
	background-color: #fef9b4;
	border: 5px solid #886622;
	top: 25px;
	font-size: 25px;
}
#searchBar{
	height: 30px;
	font-size: 25px;
	font-family: 'MedievalSharp', serif;
	text-indent: 5px;
}
#category, #rarity{
	height: 30px;
	font-size: 20px;
	font-family: 'MedievalSharp', serif;
}
input[type=number]{
	height: 25px;
	font-size: 20px;
	font-family: 'MedievalSharp', serif;
	text-indent: 5px;
	width:35px;
}
input[type=number]::-webkit-inner-spin-button{  
	opacity: 1;
}