::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #eeeeee;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaaaaa;
}

/* this is likely out of date, since overwritten in Dom.settings.dark in dom.js*/
:root {
	--border: #886622;
	--alert: #eecc77;
	--selected: #fdf581;
	--top: #fff7a5;
	--bottom: #fef9b4;
	--page: #f9f9d0;
	--text: #000000;
	--link: #000000;
	--arrow: #886622;
	--opacity: 0.8;
	--input: #ffffff;
	--zoom: 1.0;
	--chatOpacity: 0.6;
}

body {
	font-family: 'El Messiri', serif;
	line-height: 20px;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	color: var(--text);
	background-color: var(--page);
}

a:visited, a:link {
	color: var(--link);
}
