@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body{
	font-family: 'MedievalSharp', serif;
	background-color: #f9f9d0;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	text-align: center;
}
#archer, #mage, #knight, #name, #news, #play{
	background-color: #fef9b4;
	border: 5px solid #886622;
}
#archer, #mage, #knight, #play{
	padding: 10px;
	margin: 20px;
	margin-left: 15px;
	vertical-align: middle;
}
#name, #image, #logo, #news{
	position: absolute;
}
#logo{
	top: 20px;
}
#image{
	top: 100px;
}
#name{
	font-size: 25px;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	height: 50px;
	font-family: 'MedievalSharp', serif;
	top: 20px;
}
#news{
	padding-top: 20px;
}
#newsTitle{
	font-size: 50px;
}
#play{
	position: absolute;
	font-size: 25px;
	margin: 0px;
	color: black;
}
.title{
	display: inline;
	font-size: 25px;
	font-weight: bold;
}