@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
body{
font-family: 'MedievalSharp', serif;
}
#chatPage, #inventoryPage, #questsPage, #settingsPage, #questStart, #questFinish, #merchantPage {
        float: left;
        margin: 10px;
		border: 1px solid black;
		width: 500px;
		height: 600px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #f9f9d0;
		overflow: hidden;
}
#game {
        border: 1px solid black;
		float: left;
        margin: 10px;
}
#chatPage {
        overflow-y: scroll;
}
#questsPage, #settingsPage {
        border-top: 5px solid #886622;
        width: 500px;
        height: 596px;
}
#questsPage {
	overflow-y: auto;
	overflow-x: hidden;
}
#questStart, #questFinish, #merchantPage {
	text-align: center;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
}
#questStartQuest, #questFinishQuest, #questStartName, #questFinishName, #questStartChat, #questFinishChat, #questStartObjectives, #merchantPageTitle, #merchantPageChat, #merchantPageOptions {
	display: inline;
}
#activeQuests, #possibleQuests, #completedQuests, #allQuests, #settingBookmark, #settingMusic {
text-align: center;
line-height: 50px;
vertical-align: middle;
font-size: 20px;
font-family: 'MedievalSharp', serif;
}
#settingBookmark, #settingMusic {
	line-height: 30px;
}
#activeQuestBox, #possibleQuestBox, #completedQuestBox, #allQuestBox, #activeQuests, #possibleQuests, #completedQuests, #allQuests, #settingBookmark, #settingMusic {
	position: relative;
	width: 511px;
	height: 50px;
	border-left: 5px solid #886622;
	border-right: 5px solid #886622;
	border-bottom: 5px solid #886622;
	right: 10px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	background-color: #fef9b4;
}
#triangleLeft {
  right: 25px;
  top: 10px;
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 20px solid #886622; 
}
#innerTriangleLeft {
  right: 18px;
  bottom: 20px;
  position: relative;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 20px solid #fef9b4;
  z-index: 2;
}
#settingBookmark, #settingMusic, #activeQuestBox, #completedQuestBox, #possibleQuestBox, #allQuestBox {
	width: 501px;
	height: 40px;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}
#helm, #chest, #greaves, #boots, #weapon{
margin-top: 10px;
border: 5px solid #886622;
background-color: #fef9b4;
width: 50px;
height: 50px;
}
#weapon{
margin-top: 25px;
}
#gold, #xp{
background-image: url("./assets/icons/gold.png");
margin-top: 25px;
width: 60px;
height: 60px;
text-align: center;
line-height:65px;
vertical-align: middle;
font-size: 20px;
font-family: 'MedievalSharp', serif;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none;
}
#xp{
	background-image: url("./assets/icons/xp.png");
}
#questStartGold, #questFinishGold{
background-image: url("./assets/icons/gold.png");
margin-top: 0px;
width: 60px;
height: 60px;
text-align: center;
line-height:65px;
vertical-align: middle;
font-size: 20px;
font-family: 'MedievalSharp', serif;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none;
display: inline-block;
}
#questStartXP, #questFinishXP{
background-image: url("./assets/icons/xp.png");
margin-top: 0px;
width: 60px;
height: 60px;
text-align: center;
line-height:65px;
vertical-align: middle;
font-size: 20px;
font-family: 'MedievalSharp', serif;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none;
display: inline-block;
}
.buy {
position: relative;
width: 100px;
height: 50px;
background-color: #fef9b4;
border: 5px solid #886622;
margin-left: 100px;
left: 290px;
margin-top: 4px;
text-align: center;
line-height: 50px;
vertical-align: middle;
font-size: 20px;
font-family: 'MedievalSharp', serif;
}
#information, #informationMerchant {
position: absolute;
left: 740px;
width: 280px;
height: 50px;
background-color: #fef9b4;
border: 5px solid #886622;
float: right;
}
#accept, #acceptReward, #decline, #close {
	position: relative;
	width: 200px;
	height: 50px;
	background-color: #fef9b4;
	border: 5px solid #886622;
	text-align: center;
	line-height:50px;
	vertical-align: middle;
	font-size: 20px;
	font-family: 'MedievalSharp', serif;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
}
#merchantPageOptions {
	float: left;
}
#accept{
	top: 60px;
	left: 20px;
}
#decline{
	left: 270px;
}
#close{
	bottom: 30px;
}
#acceptReward{
	top: 20px;
}
#changeChat, #changeInventory, #changeQuests, #changeSettings {
	position: absolute;
	width: 200px;
	height: 60px;
}
#chatImage, #inventoryImage, #questsImage, #settingsImage {
	position: absolute;
	height: 40px;
	z-index: 1;
}
#chatImage {
	background-image: url("./assets/icons/chat.png");
	width: 32px;
}
#inventoryImage {
	background-image: url("./assets/icons/inventory.png");
	width: 32px;
}
#questsImage {
	background-image: url("./assets/icons/quests.png");
	width: 9px;
}
#settingsImage {
	background-image: url("./assets/icons/settings.png");
	width: 38px;
}