@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
body{
font-family: 'MedievalSharp', serif;
}
#game, #chat, #inventory, #quests {
        float: left;
        margin: 10px;
}
#game {
        border: 1px solid black;
}
#chat {
        border: 1px solid black;
        width: 500px;
        height: 600px;
        overflow-y: scroll;
        padding-left: 10px;
        padding-right: 10px;
        font-family: sans-serif;
}
#inventory {
        border: 1px solid black;
        width: 500px;
        height: 600px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: sans-serif;
		background-color: #f9f9d0;
}
#quests {
        border: 1px solid black;
		border-top: 5px solid black;
        width: 500px;
        height: 596px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: sans-serif;
}
#activeQuests, #possibleQuests, #allQuests {
text-align: center;
line-height:50px;
vertical-align: middle;
font-size: 20px;
font-family: 'MedievalSharp', serif;
}
#activeQuestBox, #possibleQuestBox, #allQuestBox, #activeQuests, #possibleQuests, #allQuests {
	position: relative;
	width: 511px;
	height: 50px;
	border-left: 5px solid black;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	right: 10px;
}
#helm, #chest, #greaves, #boots, #weapon{
margin-top: 10px;
border: 5px solid #886622;
background-color: #fef9b4;
width: 50px;
height: 50px;
}
#weapon{
margin-top: 25px;
}
#gold{
background-image: url("./assets/icons/gold.png");
margin-top: 25px;
width: 60px;
height: 60px;
text-align: center;
line-height:65px;
vertical-align: middle;
font-size: 20px;
font-family: 'MedievalSharp', serif;
}
#information{
width: 400px;
height: 50px;
background-color: #fef9b4;
border: 5px solid #886622;
float: right;
margin-top: 10px;
}
#changeChat, #changeInventory, #changeQuests {
	position: absolute;
	width: 200px;
	height: 60px;
}
#chatImage, #inventoryImage, #questsImage{
	position: absolute;
	height: 50px;
	width: 50px;
	z-index: 1;
}
#chatImage {
	background-image: url("./assets/icons/chat.png");
}
#inventoryImage {
	background-image: url("./assets/icons/inventory.png");
}
#questsImage {
	background-image: url("./assets/icons/quests.png");
}