
/*					*/
/*		TAGS		*/
/*					*/

body {
	overflow: hidden;
}

h1 {
	font-family: 'MedievalSharp', serif;
}

td {
	border-top: 5px solid var(--border);
	border-left: 5px solid var(--border);
	text-align: center;
	font-size: 0px;
	padding: 0px;
	background-color: var(--bottom);
	width: 50px;
	height: 50px;
	display:inline-block;
}

input {
	cursor: pointer;
}

input[type=text] {
	cursor: text;
	font-size: 16px;
	font-family: 'El Messiri', serif;
	height: 20px;
}

thead:after { /* space after bags in bank */
	line-height: 5px;
	content: "\200C";
	display: block;
	background-color: var(--border);
}

#instructionsTitle {
	color: var(--link);
}

/*					*/
/*		CANVAS		*/
/*					*/

#game, #secondary, #dayNight, #light, #click{
	float: left;
	margin: -8px;
	position: absolute;
	top: 8px;
}

#secondary {
	z-index: 3;
}

#light {
	z-index: 2;
}

#dayNight {
	z-index: 1;
}

#click {
	z-index: 4;
	width: 100vw;
	height: 100vh;
}

/*					*/
/*		DOM PAGES	*/
/*					*/

.DOM {
	border: 1px solid black;
	width: 500px;
	height: 600px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: var(--page);
	overflow: hidden;
	position: absolute;
	top: 10px;
}

#questsPage, #settingsPage, #settingsTwoPage, #adventurePage{
	overflow-y: auto;
	overflow-x: hidden;
}

#questStart, #questFinish, #merchantPage, #mailPage, #driverPage, #identifierPage, #identifiedPage, #lootPage, #buyerPage, #choosePage, #textPage{
	text-align: center;
	overflow-y: auto;
}

#questStartChat, #questFinishChat, #questStartQuest, #questFinishQuest, #questStartName, #questFinishName, #questStartObjectives, #questStartRewards, #questStartStartRewards, #questStartRewardsTitle, #questStartStartRewardsTitle, #questFinishRewardsTitle, #questFinishRewards, #merchantPageTitle, #merchantPageChat, #merchantPageOptions, #identifierPageTitle, #identifierPageChat, #leftArrow, #identifierPageOption, #rightArrow, #identifiedPageTitle, #identifiedPageChat, #identifiedPageOptions{
	display: inline;
}

.adventure, .settings, #activeQuestBox, #possibleQuestBox, #completedQuestBox, #otherQuestBox, #activeQuests, #possibleQuests, #completedQuests, #otherQuests{
	position: relative;
	width: 511px;
	border-left: 5px solid var(--border);
	border-right: 5px solid var(--border);
	border-bottom: 5px solid var(--border);
	right: 10px;
	background-color: var(--bottom);
}

.settings, #activeQuestBox, #completedQuestBox, #possibleQuestBox, #otherQuestBox {
	width: 501px;
	height: 40px;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
}

#helm, #chest, #greaves, #boots, #weapon, #settingLogoutInner, #settingSave, #settingDelete, #settingControls, .mailImage, .driverImage, .theseOptions {
	background-color: var(--bottom);
	margin-top: 10px;
	border: 5px solid var(--border);
	width: 50px;
	height: 50px;
}

.buy, #identifierPageBuy, #lootAll, #driverPageBuy{
	height: 50px;
	background-color: var(--bottom);
	border: 5px solid var(--border);
	float: right;
	margin-bottom: 26px;
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	width: max-content;
	width: -moz-max-content;
	cursor: pointer;
}

#identifierPageBuy, #lootAll, #driverPageBuy{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	float: none;
}

.closeClass {
	position: relative;
	width: 200px;
	height: 50px;
	background-color: var(--bottom);
	border: 5px solid var(--border);
	text-align: center;
	line-height:50px;
	vertical-align: middle;
	font-size: 20px;
	clear: both;
	margin-bottom: 20px;
	cursor: pointer;
}

#closeReputation, #closeSettings{
	position: relative;
	width: 200px;
	height: 50px;
	background-color: var(--bottom);
	border: 5px solid var(--border);
	text-align: center;
	line-height:50px;
	vertical-align: middle;
	font-size: 20px;
	top: 50px;
	margin-bottom: 20px;
	cursor: pointer;
}

.stackNum, .questStackNum, .questFinishStackNum, .questStartStackNum, .lootStackNum, .textStackNum{
	position: relative;
    bottom: 30px;
	height: 20px;
	width: 47px;
	font-size: 20px;
	text-shadow: 1px 1px grey;
	text-align: right;
}

.questStackNum, .questFinishStackNum, .questStartStackNum, .textStackNum{
	position: absolute;
}

/*					*/
/*		CHAT		*/
/*					*/

#chatPage {
	padding-top: 10px;
	height: 590px;
}

#chat {
	position: absolute;
	bottom: 40px;
	z-index: 3;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.chatBox {
	background-color: black;
	opacity: var(--opacity);
	height: max-content;
	color: white;
	padding: 10px;
}

#chatText {
	position: absolute;
	bottom: 44px;
	max-height: 520px;
	margin-top: -30px;
	width: 510px;
	user-select: text;
	overflow: hidden;
}

.chatPara {
	margin-bottom: 0px;
	width: max-content;
	max-width: 500px;
}

#chatInput {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 455px;
	padding-left: 3px;
	padding-right: 40px;
	background-color: var(--input);
}

#canvasChatInput {
	position: absolute;
	z-index: 10;
	left: 8px;
	bottom: 10px;
	background-color: black;
	border-color: black;
	color: white;
	opacity: 0.6;
	padding-left: 3px;
}

#send {
	position: absolute;
	bottom: -4px;
	right: 12px;
	cursor: pointer;
}

#players {
	width: 502px;
	height: 15px;
	margin-left: -10px;
	border-bottom: 1px solid black;
	padding: 10px;
	padding-top: 0px;
	text-align: center;
	cursor: pointer;
}

#playersInfo {
	width: 502px;
	margin-left: -10px;
	border-bottom: 1px solid black;
	padding: 10px;
	padding-bottom: 15px;
	position: absolute;
	background-color: var(--page);
	cursor: pointer;
}

.playersText {
	margin-left: 70px;
	margin-top: -50px;
}

/*					*/
/*		INVENTORY	*/
/*					*/

#inventoryPage {
	padding-left: 38px;
	padding-top: 45px;
	height: 555px;
	width: 472px;
}

#helm {
	background-image: url("assets/items/helm/1.png");
}

#chest {
	background-image: url("assets/items/chest/1.png");
}

#greaves {
	background-image: url("assets/items/greaves/1.png");
}

#boots {
	background-image: url("assets/items/boots/1.png");
}

#helm, #weapon{
	margin-top: 50px;
}

#inventoryGoldXP, .players {
	position: relative;
	width: 80px;
	background-size: 80px;
	background-repeat: no-repeat;
}

#displayStats {
	position: absolute;
	top: 42px;
	width: 60px;
	height: 60px;
}

#bagText {
	position: absolute;
	left: 170px;
}

#information, #itemIdentification{
	position: absolute;
	min-width: 140px;
	background-color: var(--bottom);
	border: 5px solid var(--border);
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	z-index: 50;
}

#name, #stats, #innerStats {
	width: max-content;
}

/*					*/
/*	QUESTS PAGE		*/
/*					*/

#questsPage {
	border-top: 5px solid var(--border);
	width: 500px;
	height: 596px;
}

#activeQuests, #possibleQuests, #completedQuests, #otherQuests{
	text-align: center;
	line-height: 50px;
	vertical-align: middle;
	font-size: 20px;
	background-color: var(--top);
	cursor: pointer;
}

#activeQuestBox, #possibleQuestBox, #completedQuestBox, #otherQuestBox{
	padding-bottom: 10px;
	min-height: 30px;
	height: auto;
	line-height: 20px;
}

/*					*/
/*		ADVENTURE	*/
/*					*/

.adventure {
	margin-top: 10px;
	border-top: 5px solid var(--border);
	right: 0px;
	width: 450px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: initial;
	height: 80px;
}

.adventureContent {
	font-size: 20px;
	position: relative;
	bottom: 15px;
}

#adventurePage {
	font-size: 30px;
	padding: 20px;
	width: 480px;
	height: 560px;
}

/*					*/
/*		REPUTATION	*/
/*					*/

#closeReputation {
	left: 130px;
	top: 70px;
}

.widthPadding {
	position: absolute;
	height: auto;
    width: auto;
	z-index: -1;
}

#reputationPage {
	padding-top: 20px;
	height: 580px;
	width: 490px;
	padding-left: 20px;
}

.reputationBox {
	left: 230px;
	position: absolute;
	height: 20px;
	width: 250px;
	border: 1px solid black;
	display: inline-block;
}

.reputationBar {
	position: absolute;
	height: 20px;
	line-height: 22px;
	vertical-align: middle;
	background-color: gold;
}

/*					*/
/*		SETTINGS	*/
/*	  & CONTROLS	*/
/*					*/

#settingFullscreen {
	border-top: 5px solid var(--border);
}

.settings {
	line-height: 30px;
	vertical-align: middle;
	font-size: 20px;
}

#settingsTwoPage {
	font-size: 25px;
}

.hotkey {
	background-color: var(--bottom);
	font-size: 25px;
	vertical-align: center;
	text-align: center;
	line-height: 35px;
	display: inline-block;
	border: 1px solid #000000;
	min-width: 25px;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	margin-top: -5px;
	font-weight: bold;
	left: 290px;
	position: absolute;
	cursor: pointer;
}

#hotkeyTexts {
	margin-right: 220px;
	text-align: right;
}

#settingLogoutInner, #settingLogout, #settingSave, #settingDelete, #settingControls{
	position: relative;
	font-size: 20px;
	vertical-align: middle;
	line-height: 40px;
	text-align: center;
}

#settingLogout {
	top: 15px;
	height: 230px;
}

#settingLogoutInner, #settingSave, #settingDelete, #settingControls{
	position: absolute;
	width: 100px;
	left: 200px;
	height: 40px;
	background-color: var(--bottom);
	margin-bottom: 20px;
	cursor: pointer;
}

#settingSave {
	left: 50px;
}

#settingDelete {
	left: 350px;
}

#settingControls {
	left: 200px;
}

.radio1 {
	position: absolute;
	left: 250px;
}

.radio2 {
	position: absolute;
	left: 375px;
}

#settingMusic, #settingParticles, #settingTransparency, #settingCoords, #settingSpeed, #settingTutorial {
	margin-top: 10px;
	border: 5px solid var(--border);
}

/*					*/
/*		QUEST		*/
/*	START & FINISH	*/
/*					*/

#questStartItems, #questStartStartItems, #questFinishItems {
	display: inline-block;
}

.theseQuestOptions, .theseQuestFinishOptions, .theseQuestStartOptions, .theseTextOptions{
	margin-top: 4px;
	border: 5px solid var(--border);
	display: inline-block;
	height: 50px;
	width: 50px;
	vertical-align: middle;
	margin-bottom: 10px;
	position: relative;
	background-color: var(--bottom);
}

.theseQuestServices, .theseQuestFinishServices, .theseQuestStartServices {
	margin-top: 4px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 10px;
	position: relative;
	height: 55px;
}

#questStartXP, #questFinishXP{
	margin-top: 5px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height:65px;
	vertical-align: middle;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 10px;
	background-image: url("./assets/icons/xp.png");
}

#accept, #acceptReward, #confirm {
	top: 20px;
	left: 20px;
}

#decline, #declineReward, #cancel {
	bottom: 60px;
	left: 270px;
}

#chanceImage {
	position: absolute;
	margin-top: -33px;
	left: 30px;
}

#chance {
	text-align: left;
	padding-left: 62px;
	margin-top: -40px;
}

/*					*/
/*		MERCHANT	*/
/*					*/

#merchantPage {
	padding-left: 38px;
	padding-right: 38px;
	width: 444px;
}

.theseOptions {
	margin-top: 0px;
}

#merchantPageBuy {
	float: right;
	display: inline;
}

#merchantPageOptions {
	float: left;
}

/*					*/
/*		IDENTIFIER	*/
/*					*/

#identifierPageGold {
	display: inline-block;
}

/*					*/
/*		LOOT		*/
/*					*/

#lootAll {
	position: relative;
	margin-top: 100px;
}

/*					*/
/*		BANK		*/
/*					*/

#bankPage, #tradePage {
	text-align: center;
}

/*					*/
/*		CHOOSE		*/
/*					*/

.chooseIcon {
	position: absolute;
	clip: rect(0px, 25px, 25px, 0px);
}

.choosePageButtons {
	cursor: pointer;
}

/*					*/
/*		TEXT		*/
/*					*/

.buttons {
	position: relative;
	height: 50px;
	background-color: var(--bottom);
	border: 5px solid var(--border);
	text-align: center;
	line-height:50px;
	vertical-align: middle;
	font-size: 20px;
	clear: both;
	width: max-content;
	width: -moz-max-content;
	min-width: 170px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}

/*					*/
/*		MAIL		*/
/*					*/

.mailTitle {
	text-align: left;
	margin-left: 100px;
	margin-top: 10px;
	font-size: 20px;
	line-height: 28px;
}

.mailDelete, .mailFlag{
	height: 30px;
	width: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: var(--border);
	line-height: 32px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 20px;
}

.mailFlag {
	top: 50px;
}

.flag {
	position: relative;
	top: 4px;
	outline: none;
}

.mail, .driver{
	height: 100px;
	width: 450px;
	left: 20px;
	position: relative;
	background-color: var(--selected);
	border: 5px solid var(--border);
	margin-bottom: 20px;
	cursor: pointer;
}

.mailImage, .driverImage{
	position: absolute;
	top: 10px;
	left: 20px;
	background-color: #ddddff;
	background-repeat: no-repeat;
}

/*					*/
/*		DRIVER		*/
/*					*/

.driver {
	background-color: var(--bottom);
	height: 100%;
	padding-top: 5px;
}

.driverImage {
	background-repeat: repeat;
}

.driverDescription {
	padding-top: 5px;
	margin-left: 100px;
	text-align: left;
	height: 47px;
	overflow: auto;
}

.driverDescription2 {
	text-align: left;
	margin-top: -6px;
	margin-left: 20px;
	margin-bottom: 10px;
}

/*					*/
/*		BOOKMARKS	*/
/*					*/

.changePage {
	width: 50px;
	position: absolute;
	outline: none;
	display: none;
	opacity: 0.7;
	z-index: 5;
	cursor: pointer;
	bottom: -12px;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 50;
}

#changeAdventure, #changeSettings{
	display: block;
}

/*					*/
/*		ALERT		*/
/*					*/

#alert {
	position: absolute;
	width: 300px;
	top: 100px;
	background-color: var(--alert);
	border: 5px solid var(--border);
	font-size: 25px;
	padding: 20px;
	padding-bottom: 10px;
	z-index: 50;
	text-align: center;
}

#alertYes, #alertNo, #alertDispose{
	position: relative;
	width: 100px;
	height: 50px;
	background-color: var(--bottom);
	border: 5px solid var(--border);
	display: inline-block;
	right: 15px;
	bottom: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	cursor: pointer;
}

#alertNo, #alertDispose{
	right: 0px;
}

#alertDispose {
	left: 15px;
}

#alertText {
	position: relative;
	bottom: 25px;
	font-size: 20px;
}

#alertOptions {
	position: relative;
	bottom: 20px;
	line-height: 30px;
	font-size: 20px;
}

/*					*/
/*		TABLES		*/
/*					*/

#itemInventory, #hotbar, #loot{
	position: absolute;
	top: 31px;
	left: 139px;
	margin-top: 10px;
	font-size: 0px;
}

#itemInventory, #hotbar, #buyerPageInventory, #bankPageInventory, #tradePageInventory, #tradePageOther, #loot {
	border-spacing: 0px;
	border-bottom: 5px solid var(--border);
	border-right: 5px solid var(--border);
}

#hotbar {
	opacity: var(--opacity);
	z-index: 5;
}

#buyerPageInventory {
	top: 90px;
	left: 735px;
	background-color: var(--bottom);
}

#bankPageInventory, #tradePageInventory, #tradePageOther {
	display: inline-block;
}

#loot {
	left: 38px;
	top: 90px;
}

/*					*/
/*		ARROWS &	*/
/*		TRIANGLES	*/
/*					*/

#leftArrow {
	top: 140px;
	left: 200px;
	cursor: pointer;
	border-right: 20px solid var(--arrow); 
}

#rightArrow {
	top: 140px;
	right: 200px;
	cursor: pointer;
	border-left: 20px solid var(--arrow); 
}

.triangleLeft, .innerTriangleLeft, .triangleRight, .innerTriangleRight{
	position: absolute;
	width: 0px; 
	height: 0px; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
}

.triangleLeft {
	border-right: 20px solid var(--border); 
}

.innerTriangleLeft {
	border-right: 20px solid var(--bottom);
	z-index: 51;
}

.triangleRight {
	border-left: 20px solid var(--border);
}

.innerTriangleRight {
	border-left: 20px solid var(--bottom);
	z-index: 51;
}

/*					*/
/*	ACHIEVEMENTS	*/
/*					*/

#achievement {
	position: absolute;
	top: 50px;
	width: 445px;
	border: 5px solid var(--border);
	background-color: var(--bottom);
	padding: 5px;
	padding-top: 5px;
	margin: 0px;
	margin-bottom: 25px;
	height: 60px;
	text-align: left;
	animation: animation 2s linear 1;
	z-index: 50;
}
@keyframes animation{
  0%   {left: 100vw;}
}

#achievementImg {
	width: 50px;
	height: 50px;
	border: 5px solid var(--border);
	background-color: var(--alert);
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
}

#achievementPoints, #achievementName, #achievementDescription{
	padding: 0px;
	margin: 0px;
	margin-left: 70px;
	font-size: 18px;
}

#achievementPoints {
	position: absolute;
	font-size: 50px;
	right: 10px;
	top: 30px;
}
