body{
	font-family: 'El Messiri', serif;
	line-height: 20px;
	background-color: var(--page);
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	text-align: center;
	color: var(--text);
}
#archer, #mage, #knight, #name, #news, #play, #random{
	background-color: var(--bottom);
	border: 5px solid var(--border);
}
#name, #image, #logo, #news, #play, #random, #left, #right{
	 position: absolute;
 }
#archer, #mage, #knight, #play{
	padding: 10px;
	margin: 20px;
	margin-left: 15px;
	vertical-align: middle;
	cursor: pointer;
}
#logo, #random, #name{
	top: 20px;
}
#image{
	top: 100px;
	cursor: pointer;
}
#name{
	font-size: 25px;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	font-family: 'El Messiri', serif;
	color: var(--text);
}
#news{
	padding-top: 20px;
}
#newsTitle{
	font-size: 50px;
}
#play{
	font-size: 25px;
	margin: 0px;
	color: var(--text);
	width: 290px;
}
#random{
	width: 50px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
#left, #right{
	font-size: 100px;
	cursor: pointer;
}
.title{
	display: inline;
	font-size: 25px;
	font-weight: bold;
}