body{
	text-align: center;
	margin: 0px;
	height: 100vh;

	overflow: hidden;
}


#preload {
	visibility: hidden;
}




#bulletinBoard {
	width: 500px;
	background-image: url("./assets/bulletinBackground.png");
	height: 100vh;

	float: left;
}




#centralImage {
	background-image: url("./assets/background.png");
	background-size: cover;
	background-position: center center;
	height: 100vh;

	margin-left: 500px;
	margin-right: 350px;

	border-left: 5px solid var(--border);
	border-right: 5px solid var(--border);
}

#logo {
	width: 40%;
	margin-top: 12px;
}


#classSelect {
	position: relative;
	top: 43%;
}

#archer, #mage, #knight {
	cursor: pointer;
	display: inline-block;

	width: 250px;
	height: 250px;

	margin-left: -40px;
	margin-right: -40px;
}

#archer {
	background-image: url("./assets/bowAnim/hover.png");

	background-position: 0 0px;
}

#mage {
	background-image: url("./assets/staffAnim/hover.png");

	background-position: 0 0px;
}

#knight {
	background-image: url("./assets/swordAnim/hover.png");

	background-position: 0 0px;
}




.rightColumn {
	height: 100vh;
	float: right;

	background-image: url("./assets/selectionBackground.png");
}

#playerView {
	width: 350px;
}

.playerViewCustomisation {
	animation: panelWidth 1.0s forwards;
}

@keyframes panelWidth {
	from {width: 350px;}
	to {width: 700px;}
}


#mainScreen:after {
	content: "";
	display: table;
	clear: both;
}


#name, #play, #random, #info, #logo, .news, .newsBanner, .customisationSelect, #customisationButton {
	background-color: var(--bottom);
	border: 5px solid var(--border);
}

#name, #playerPreview, #logo, #play, #random, #left, #right, #info {
	/* position: absolute;*/
}

#logo, #random, #name{
	top: 20px;
}

.news{
	padding: 10px;
	padding-bottom: 2px;
	padding-top: 25px;
}
.newsTitle{
	display: inline;
	font-size: 42px;
	font-weight: bold;
}

.newsBanner,.news{
	margin: 20px;
	margin-left: 15px;
}

.newsBanner{
	margin-top: 0px;
	margin-bottom: 0px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}



#info {
	/* height: 50px; */
	font-size: 20px;
	display:inline-block;
	width: 290px;

	padding: 10px;
	margin: 10px;
	margin-left: 15px;
}

#info {
	margin-bottom: 5px;
}

#name{
	font-size: 25px;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	font-family: 'El Messiri', serif;
	color: var(--text);

	display:inline-block;
	vertical-align: top;

	width: 228px;
}
#random {
	width: 47px;
	height: 47px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-left: none;
	margin-left: -5px;
	display:inline-block;
	vertical-align: top;
}

#left, #right {
	font-size: 100px;
	cursor: pointer;

	display:inline-block;
	vertical-align: top;

	margin-top: 10px;

	color: saddlebrown;
}

#playerPreview {
	position: relative;
	top: 0;
	left: 0;

	height: 168px; /* background img height */
	background-image: url("./assets/playerBackground.png");

	border-top: 5px solid var(--border);
	border-bottom: 5px solid var(--border);

	margin-top: 10px;
	margin-bottom: 13px;
}

.previewImage {
	width: 52px;
	height: 127px;

	object-fit: none;
	overflow: hidden;
	object-position: 0% 0%;

	top: 33px;
}

.previewImageUnder {
	position: relative;
	left: 0;
}

.previewImageOver {
	position: absolute;
	left: 149px;
}

#play{
	font-size: 25px;
	margin: 0px;
	color: var(--text);
	width: 290px;

	padding: 10px;
	margin: 15px;
	cursor: pointer;

	display: inline-block;
}

.title{
	display: inline;
	font-size: 25px;
	font-weight: bold;
}


/*
	Customisation
*/

#customisationWrapper {
	height: 400px; /* background img height */
	background-image: url("./assets/customisationWardrobe.png");
}

.customisationSelect {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: 52px;

	display:inline-block;

	padding: 10px;
	margin: 10px;
	margin-left: 15px;
}

.customisationSelectTall {
	height: 127px;
}

.customisationSelection {
	position: relative;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;

	width: 52px;
	height: 127px;

	object-fit: none;
	overflow: hidden;
	object-position: 0% 0%;
}

.customisationButton {
	width: 87px;
	height: 98px;
	display: inline-block;
}

#skinToneView {
	background-image: url("assets/customisationButtons/skinTone.png");
}
#skinToneView.selected {
	background-image: url("assets/customisationButtons/skinToneSelected.png");
}
#clothingView {
	background-image: url("assets/customisationButtons/clothing.png");
}
#clothingView.selected {
	background-image: url("assets/customisationButtons/clothingSelected.png");
}
#hairView {
	background-image: url("assets/customisationButtons/hair.png");
}
#hairView.selected {
	background-image: url("assets/customisationButtons/hairSelected.png");
}
#hatView {
	background-image: url("assets/customisationButtons/hat.png");
}
#hatView.selected {
	background-image: url("assets/customisationButtons/hatSelected.png");
}
