body{
	text-align: center;
	margin: 0px;
	height: 100vh;

	overflow: hidden;
}




#bulletinBoard {
	width: 500px;
	background-image: url("./assets/bulletinBackground.png");
	height: 100vh;

	float: left;
}




#centralImage {
	background-image: url("./assets/background.png");
	background-size: cover;
	height: 100vh;

	margin-left: 500px;
	margin-right: 350px;

	border-left: 5px solid var(--border);
	border-right: 5px solid var(--border);
}

#logo {
	width: 50%;
	margin-top: 12px;
}




#playerView {
	width: 350px;
	height: 100%;
	float: right;
}

#mainScreen:after {
	content: "";
	display: table;
	clear: both;
}


#archer, #mage, #knight, #name, #play, #random, #info, #skins, #logo, .news {
	background-color: var(--bottom);
	border: 5px solid var(--border);
}

#name, #playerPreview, #logo, #play, #random, #left, #right, #info, #skins {
	/* position: absolute;*/
}

#archer, #mage, #knight, .news {
	padding: 10px;
	margin: 20px;
	margin-left: 15px;
	padding-bottom: 2px;
}

#archer, #mage, #knight {
	cursor: pointer;
}

#logo, #random, #name{
	top: 20px;
}

.news{
	padding-top: 25px;
}
.newsTitle{
	display: inline;
	font-size: 42px;
	font-weight: bold;
}



#info, #skins {
	/* height: 50px; */
	font-size: 20px;
	display:inline-block;
	width: 290px;

	padding: 10px;
	margin: 10px;
	margin-left: 15px;
}

#info {
	margin-bottom: 5px;
}

#skins {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: 63px;
}
.skin {
	position: relative;
	width: 80px;
	height: 100px;
	background-size: 80px;
	background-repeat: no-repeat;
	display: inline-block;
	cursor: pointer;
}

#name{
	font-size: 25px;
	line-height: 45px;
	vertical-align: middle;
	text-align: center;
	font-family: 'El Messiri', serif;
	color: var(--text);

	display:inline-block;
	vertical-align: top;

	width: 228px;
}
#random {
	width: 47px;
	height: 47px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;

	border-left: none;
	margin-left: -5px;

	display:inline-block;
	vertical-align: top;
}

#left, #right {
	font-size: 100px;
	cursor: pointer;

	display:inline-block;
	vertical-align: top;

	margin-top: 10px;
}

#playerPreview {
	height: 500px;
	top: 100px;

	margin-top: 20px;
}

#play{
	font-size: 25px;
	margin: 0px;
	color: var(--text);
	width: 290px;

	padding: 10px;
	margin: 20px;
	cursor: pointer;

	display: inline-block;
}

.title{
	display: inline;
	font-size: 25px;
	font-weight: bold;
}
