body{
	font-family: 'El Messiri', serif;
	line-height: 20px;
	text-align: center;
	background-color: var(--page);
	overflow: auto;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	color: var(--text);
}
.box{
	width: 200px;
	border: 5px solid var(--border);
	background-color: var(--bottom);
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 25px;
	margin: 0px;
	margin-bottom: 25px;
	cursor: pointer;
}
.para{
	padding: 0px;
	margin: 0px;
}
.img{
	margin: 20px;
}
.flashcardlist{
	position: absolute;
    list-style: none;
    padding: 0px;
	margin: 0px;
	width: 220px;
}
.oneFilter {
	margin: 10px;
}
#filters {
	display: none;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding-bottom: 10px;
}
#filters, #back{
	position: absolute;
	background-color: var(--bottom);
	border: 5px solid var(--border);
	top: 25px;
	font-size: 25px;
}
#back{
	width: 210px;
	height: 40px;
	vertical-align: middle;
	line-height: 40px;
	left: 100px;
	margin-bottom: 30px;
	cursor: pointer;
}
#stats, td{
	border: 1px solid var(--text);
}
td{
	padding: 10px;
}
#obtain, #stats{
	position: absolute;
	left: 400px;
	font-size: 25px;
	text-align: left;
	color: var(--text);
}
#triangle, #innerTriangle {
	position: absolute;
	width: 0px; 
	height: 0px; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	top: 10px;
}
#triangle {
	border-left: 20px solid var(--border); 
	right: -25px;
}
#innerTriangle {
	border-left: 20px solid var(--alert);
	right: -17.5px;
}
#information {
	width: 420px;
	height: 340px;
	background-color: var(--alert);
	border: 5px solid var(--border);
	position: absolute;
	font-size: 18px;
	text-align: left;
	line-height: 25px;
	padding: 10px;
	z-index: 2;
	top: 8px;
	right: 198px;
}
#circle {
  	height: 25px;
  	width: 25px;
  	background-color: #000000;
  	border-radius: 50%;
	position: absolute;
	top: 25.5px;
	right: 148px;
	color: white;
	line-height: 30px;
}
#reset {
	background-color: var(--input);
	width: 70px;
	font-size: 20px;
	height: 25px;
	display: inline-block;
	padding-top:10px;
	border: 1px solid darkgray;
	margin: 20px;
	cursor: pointer;
	color: black;
}
#reset:hover {
	border: 1px solid gray;
}
#searchBar{
	height: 30px;
	font-size: 25px;
	font-family: 'El Messiri', serif;
	text-indent: 5px;
	margin: 20px;
	padding-right: 35px;
	display: inline-block;
}
#category, #rarity, #event, #display, #area, #obtained {
	height: 30px;
	font-size: 20px;
	font-family: 'El Messiri', serif;
}
#progress{
	border: 1px solid black;
	position: absolute;
	height: 35px;
}
#innerProgress{
	height: 36px;
	background-image: linear-gradient(to right, green, green, limegreen, green);
	position: absolute;
	top: -0.5px;
	left: -0.5px;
}
#progressText{
	z-index: 1;
	position: absolute;
	font-size: 25px;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}
p {
	margin-block-start: 10px;
	margin-block-end: 0px;
}
input, select {
	background-color: var(--input);
}