@import url('https://fonts.googleapis.com/css?family=MedievalSharp');

body{
	padding: 1%;
	font-family: 'MedievalSharp', serif;
	background-color: #f9f9d0;
	overflow: auto;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	text-align: center;
}
#back{
	width: 4vw;
	height: 4vw;
	position: absolute;
	background-color: #fef9b4;
	border: 5px solid #886622;
	right: 2.4%;
	top: 2.4vw;
	font-size: 4vw;
	line-height: 4vw;
	vertical-align: center;
}
#question{
	margin: 2vh;
	font-size: 5vw;
}
#answer div{
	position: absolute;
	background-color: #fef9b4;
	border: 5px solid #886622;
	display: inline-block;
	vertical-align: middle;
	font-size: 4vw;
	background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#item{
	background-image: url("./assets/item.png");
}
#quest{
	background-image: url("./assets/quest.png");
}
#npc{
	background-image: url("./assets/npc.png");
}
#enemy{
	background-image: url("./assets/enemy.png");
}
input, select{
	height: 6vw;
	top: 30%;
	left: 25%;
	width: 50%;
	position: absolute;
	font-size: 3vw;
	font-family: 'MedievalSharp', serif;
}
input[type=number]{
	font-size: 5vw;
}
input[type=number]::-webkit-inner-spin-button{
   opacity: 1;
}
input[type=checkbox]{
	height: 12px;
	top: 0%;
	left: 0%;
	width: 12px;
	position: relative;
	font-size: 5vw;
	font-family: 'MedievalSharp', serif;
	text-align: left;
}
.submit{
	height: 6vw;
	line-height: 6vw;
	vertical-align: middle;
	top: 60%;
	left: 40%;
	width: 20%;
	position: absolute;
}
#inventoryInformation{
	width: 140px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
.triangleLeft, .innerTriangleLeft{
	position: absolute;
	width: 0px; 
	height: 0px; 
	border-top: 15px solid transparent !important;
	border-bottom: 15px solid transparent !important;
	border-left: 0px solid transparent !important;
	background-color: transparent !important;
	top: 10px;
}
.triangleLeft {
	right: 165px;
	border-right: 20px solid #886622 !important;
}
.innerTriangleLeft {
	right: 157px;
	border-right: 20px solid #fef9b4 !important;
	z-index: 2;
}