::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #eeeeee;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #aaaaaa;
}

body{
	font-family: 'El Messiri', serif;
	line-height: 20px;
	text-align: center;
	background-color: var(--page);
	overflow: auto;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
	margin-top: 25px;
	color: var(--text);
}
#progress{
	border: 1px solid black;
	position: absolute;
	height: 35px;
}
#innerProgress{
	height: 36px;
	background-image: linear-gradient(to right, green, green, limegreen, green);
	position: absolute;
	top: -0.5px;
	left: -0.5px;
}
#progressText{
	z-index: 1;
	position: absolute;
	font-size: 25px;
	line-height: 35px;
	vertical-align: middle;
	text-align: center;
	width: 100%;
}
.box{
	width: 200px;
	border: 5px solid var(--border);
	background-color: var(--bottom);
	padding: 5px;
	padding-top: 0px;
	padding-bottom: 25px;
	margin: 0px;
	margin-bottom: 25px;
}
.para{
	padding: 0px;
	margin: 0px;
}
.img{
	margin: 20px;
}
.flashcardlist{
	position: absolute;
    list-style: none;
    padding: 0px;
	margin: 0px;
	width: 220px;
}
input, select {
	background-color: var(--input);
}